In [1]:
import nltk
import pandas as pd

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Subham\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
fake=pd.read_csv("Fake.csv")
genuine=pd.read_csv("True.csv")

In [4]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [5]:
fake["target"]=0
genuine['target']=1

In [6]:
data=pd.concat([fake,genuine],axis=0)

In [7]:
data=data.reset_index(drop=True)

In [8]:
data=data.drop(['subject','title','date'],axis=1)

In [9]:
data.columns

Index(['text', 'target'], dtype='object')

In [10]:
from nltk.tokenize import word_tokenize

In [11]:
data['text']=data['text'].apply(word_tokenize)

In [12]:
data.head(10)

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [13]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer('english')

In [14]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [15]:
data['text']=data['text'].apply(stem_it)

In [16]:
data.head(10)

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [17]:
def stop_it(t):
    return [words for words in t if len(words)>2]

In [18]:
data['text']=data['text'].apply(stop_it)

In [19]:
data.head(10)

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [20]:
data['text']=data['text'].apply(' '.join)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['target'])

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.75)

tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [25]:
model_1=LogisticRegression(max_iter=1000)
model_1.fit(tfidf_train,y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(y_test,pred_1)
cr1*100

98.84187082405346

In [26]:
from sklearn.linear_model import PassiveAggressiveClassifier

model=PassiveAggressiveClassifier(max_iter=60)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=60)

In [27]:
y_pred=model.predict(tfidf_test)
acc=accuracy_score(y_test,y_pred)
acc*100

99.62583518930957