In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data=pd.read_csv("train_data.csv")
test_data=pd.read_csv("test_data.csv")
train_target=pd.read_csv("train_target.csv")

In [3]:
train_data.head()

,Id,date,open,high,low,close,day,week,SMA_7,SMA_14,SMA_21,RSI_7,RSI_14,RSI_21,ATR_14,bb_mavg,bb_hband,bb_lband
0,0,2015-01-12 09:15:00+05:30,0.252483,0.249671,0.255665,0.250255,12,3,0.249131,0.246873,0.247927,54.402627,48.236033,45.263488,0.007017,0.247667,0.256181,0.239153
1,1,2015-01-12 09:30:00+05:30,0.247851,0.246028,0.257602,0.251258,12,3,0.250327,0.247607,0.247838,57.307707,49.928940,46.453986,0.007040,0.247534,0.255730,0.239338
2,2,2015-01-12 09:45:00+05:30,0.248817,0.248992,0.259178,0.253956,12,3,0.251520,0.248550,0.247840,64.423555,54.263566,49.554022,0.007103,0.247566,0.255858,0.239275
3,3,2015-01-12 10:00:00+05:30,0.251481,0.249916,0.260682,0.253628,12,3,0.252341,0.248788,0.247855,62.935127,53.655190,49.190342,0.007076,0.247743,0.256385,0.239101
4,4,2015-01-12 10:15:00+05:30,0.251066,0.250750,0.262421,0.255314,12,3,0.253037,0.249406,0.248103,67.444567,56.362731,51.125779,0.007199,0.248086,0.257337,0.238835

In [4]:
train_data.shape

(25500, 18)

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        25500 non-null  int64
 1   date      25500 non-null  object
 2   open      25500 non-null  float64
 3   high      25500 non-null  float64
 4   low       25500 non-null  float64
 5   close     25500 non-null  float64
 6   day       25500 non-null  int64
 7   week      25500 non-null  int64
 8   SMA_7     25500 non-null  float64
 9   SMA_14    25500 non-null  float64
 10  SMA_21    25500 non-null  float64
 11  RSI_7     25500 non-null  float64
 12  RSI_14    25500 non-null  float64
 13  RSI_21    25500 non-null  float64
 14  ATR_14    25500 non-null  float64
 15  bb_mavg   25500 non-null  float64
 16  bb_hband  25500 non-null  float64
 17  bb_lband  25500 non-null  float64
dtypes: float64(14), int64(3), object(1)
memory usage: 3.5+ MB

In [6]:
train_data.describe()

,Id,open,high,low,close,day,week,SMA_7,SMA_14,SMA_21,RSI_7,RSI_14,RSI_21,ATR_14,bb_mavg,bb_hband,bb_lband
count,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000
mean,12749.500000,0.426294,0.425500,0.435774,0.430332,15.821451,25.895882,0.430277,0.430212,0.430148,51.593084,51.527932,51.463198,0.007197,0.430157,0.438225,0.422090
std,7361.360268,0.215698,0.216545,0.215109,0.217723,8.783503,15.262122,0.217691,0.217656,0.217621,18.717137,14.399158,12.179462,0.001067,0.217626,0.217826,0.217572
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.005308,0.008305,0.010751,2.822320,10.212109,15.661414,0.004837,0.010533,0.020252,-0.008329
25%,6374.750000,0.241356,0.239658,0.251347,0.243633,8.000000,12.000000,0.243421,0.243261,0.243329,37.818054,40.904673,42.318029,0.006370,0.243405,0.251937,0.235589
50%,12749.500000,0.357613,0.356661,0.367412,0.360990,16.000000,26.000000,0.361008,0.360740,0.360134,51.872089,51.908971,52.068601,0.006907,0.360120,0.368240,0.353344
75%,19124.250000,0.637443,0.637602,0.646221,0.643665,23.000000,39.000000,0.643733,0.643456,0.643102,65.525916,62.047714,60.205687,0.007918,0.643231,0.652010,0.633294
max,25499.000000,0.877429,0.878482,0.886115,0.885323,31.000000,53.000000,0.884363,0.883673,0.883438,98.364625,94.058907,88.579212,0.013992,0.883434,0.888044,0.881087

In [7]:
train_data=train_data.drop(['date'],axis=1)
train_data=train_data.drop(['Id'],axis=1)
train_target=train_target.drop(['Id'],axis=1)
test_data=test_data.drop(['Id','date'],axis=1)

In [8]:
train_data.head()

,open,high,low,close,day,week,SMA_7,SMA_14,SMA_21,RSI_7,RSI_14,RSI_21,ATR_14,bb_mavg,bb_hband,bb_lband
0,0.252483,0.249671,0.255665,0.250255,12,3,0.249131,0.246873,0.247927,54.402627,48.236033,45.263488,0.007017,0.247667,0.256181,0.239153
1,0.247851,0.246028,0.257602,0.251258,12,3,0.250327,0.247607,0.247838,57.307707,49.928940,46.453986,0.007040,0.247534,0.255730,0.239338
2,0.248817,0.248992,0.259178,0.253956,12,3,0.251520,0.248550,0.247840,64.423555,54.263566,49.554022,0.007103,0.247566,0.255858,0.239275
3,0.251481,0.249916,0.260682,0.253628,12,3,0.252341,0.248788,0.247855,62.935127,53.655190,49.190342,0.007076,0.247743,0.256385,0.239101
4,0.251066,0.250750,0.262421,0.255314,12,3,0.253037,0.249406,0.248103,67.444567,56.362731,51.125779,0.007199,0.248086,0.257337,0.238835

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_data = scaler.fit_transform(train_data)
test_data=scaler.fit_transform(test_data)

In [19]:
from tensorflow.keras.layers import InputLayer,Dense, Activation,Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam

In [32]:
classifier = Sequential()
classifier.add(Dense(units = 64, kernel_initializer = 'uniform', activation = 'relu', input_dim = 16))
classifier.add(Dense(units = 32, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 16, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 8, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'linear'))
classifier.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['accuracy'])
classifier.fit(train_data, train_target, epochs = 40)

Epoch 1/40
797/797 [==============================] - 1s 601us/step - loss: 0.2710 - accuracy: 0.5003
Epoch 2/40
797/797 [==============================] - ETA: 0s - loss: 0.2513 - accuracy: 0.50 - 1s 688us/step - loss: 0.2513 - accuracy: 0.5064
Epoch 3/40
797/797 [==============================] - 1s 776us/step - loss: 0.2507 - accuracy: 0.50840s - loss: 0.2507 - accuracy: 0.50
Epoch 4/40
797/797 [==============================] - 1s 649us/step - loss: 0.2506 - accuracy: 0.5090
Epoch 5/40
797/797 [==============================] - 0s 604us/step - loss: 0.2502 - accuracy: 0.5109
Epoch 6/40
797/797 [==============================] - 1s 642us/step - loss: 0.2500 - accuracy: 0.5126
Epoch 7/40
797/797 [==============================] - 1s 630us/step - loss: 0.2502 - accuracy: 0.5093
Epoch 8/40
797/797 [==============================] - 0s 626us/step - loss: 0.2500 - accuracy: 0.5123
Epoch 9/40
797/797 [==============================] - 1s 648us/step - loss: 0.2498 - accuracy: 0.5107
Epoch 10/40
797/797 [==============================] - 1s 726us/step - loss: 0.2499 - accuracy: 0.5128
Epoch 11/40
797/797 [==============================] - 1s 670us/step - loss: 0.2498 - accuracy: 0.5149
Epoch 12/40
797/797 [==============================] - 1s 658us/step - loss: 0.2498 - accuracy: 0.5134
Epoch 13/40
797/797 [==============================] - 0s 625us/step - loss: 0.2498 - accuracy: 0.5119
Epoch 14/40
797/797 [==============================] - 1s 644us/step - loss: 0.2497 - accuracy: 0.5136
Epoch 15/40
797/797 [==============================] - 1s 730us/step - loss: 0.2498 - accuracy: 0.51740s - loss: 0.2497 - accuracy: 0.
Epoch 16/40
797/797 [==============================] - 1s 655us/step - loss: 0.2496 - accuracy: 0.5139
Epoch 17/40
797/797 [==============================] - 0s 612us/step - loss: 0.2498 - accuracy: 0.5151
Epoch 18/40
797/797 [==============================] - 1s 670us/step - loss: 0.2495 - accuracy: 0.5193
Epoch 19/40
797/797 [==============================] - 1s 638us/step - loss: 0.2496 - accuracy: 0.5165
Epoch 20/40
797/797 [==============================] - 1s 631us/step - loss: 0.2497 - accuracy: 0.5162
Epoch 21/40
797/797 [==============================] - 1s 814us/step - loss: 0.2497 - accuracy: 0.5164
Epoch 22/40
797/797 [==============================] - 1s 677us/step - loss: 0.2496 - accuracy: 0.5186
Epoch 23/40
797/797 [==============================] - 0s 622us/step - loss: 0.2496 - accuracy: 0.5198
Epoch 24/40
797/797 [==============================] - 1s 716us/step - loss: 0.2496 - accuracy: 0.5173
Epoch 25/40
797/797 [==============================] - 1s 733us/step - loss: 0.2495 - accuracy: 0.5200
Epoch 26/40
797/797 [==============================] - 0s 627us/step - loss: 0.2496 - accuracy: 0.5213
Epoch 27/40
797/797 [==============================] - 1s 669us/step - loss: 0.2495 - accuracy: 0.5192
Epoch 28/40
797/797 [==============================] - 1s 684us/step - loss: 0.2495 - accuracy: 0.5179
Epoch 29/40
797/797 [==============================] - 1s 681us/step - loss: 0.2495 - accuracy: 0.5200
Epoch 30/40
797/797 [==============================] - 1s 721us/step - loss: 0.2495 - accuracy: 0.51900s - loss: 0.2498
Epoch 31/40
797/797 [==============================] - 1s 658us/step - loss: 0.2495 - accuracy: 0.5204
Epoch 32/40
797/797 [==============================] - 1s 693us/step - loss: 0.2494 - accuracy: 0.5216
Epoch 33/40
797/797 [==============================] - 1s 640us/step - loss: 0.2495 - accuracy: 0.5179
Epoch 34/40
797/797 [==============================] - 1s 729us/step - loss: 0.2494 - accuracy: 0.5219
Epoch 35/40
797/797 [==============================] - 0s 587us/step - loss: 0.2494 - accuracy: 0.5235
Epoch 36/40
797/797 [==============================] - 1s 690us/step - loss: 0.2494 - accuracy: 0.5231
Epoch 37/40
797/797 [==============================] - 0s 565us/step - loss: 0.2494 - accuracy: 0.5207
Epoch 38/40
797/797 [==============================] - 1s 660us/step - loss: 0.2495 - accuracy: 0.5205
Epoch 39/40
797/797 [==============================] - 0s 562us/step - loss: 0.2493 - accuracy: 0.5222
Epoch 40/40
797/797 [==============================] - 0s 576us/step - loss: 0.2493 - accuracy: 0.5266

In [33]:
test_target=classifier.predict(test_data)

In [34]:
test_target

array([[0.51175153],
       [0.51175153],
       [0.51175153],
       ...,
       [0.5168223 ],
       [0.5188962 ],
       [0.51404727]], dtype=float32)

In [35]:
df=pd.DataFrame(test_target)

In [36]:
df.to_csv('test_target.csv')